/* Stili globali */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #283048; /* sfondo principale */
  background: -webkit-linear-gradient(to right, #859398, #283048);
  background: linear-gradient(to right, #859398, #283048);
}

/* Stili per il contenuto principale */
.main-content {
  padding: 20px;
  color: white; /* Colore del testo principale */
}

/* Stili per i pulsanti */
.ant-btn-primary {
  background-color: rgba(
    30,
    35,
    50,
    0.5
  ); /* Blu navy per i pulsanti principali */
  border: none;
}

.ant-btn-primary:hover {
  background-color: rgba(
    255,
    0,
    0,
    0.8
  ); /* Blu navy con trasparenza al passaggio del mouse */
}

/* Stili per i pulsanti secondari */
.ant-btn-default {
  background-color: transparent; /* Trasparente per pulsanti secondari */
  border: 1px solid #ffffff; /* Bordo bianco */
  color: white; /* Colore del testo */
}

.ant-btn-default:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Leggero colore al passaggio del mouse */
}

.ant-btn-dashed {
  background-color: rgba(
    30,
    58,
    95,
    0.7
  ); /* Un blu navy più scuro con opacità */
  border: none;
  color: white; /* Colore del testo */
}

ant-btn-dashed:hover {
  background-color: rgba(
    168,
    20,
    20,
    0.938
  ); /* Leggero colore al passaggio del mouse */
}

/* Stili per il contenuto specifico */
.content {
  padding: 20px;
}

.content h1 {
  margin-top: 0;
  color: #ffffff; /* Colore dei titoli */
}

.white-space-pre-line {
  white-space: pre-line;
}

/* Stili per il Quill Editor su TutteSchede (AllSchede.js)*/
.autore-quill .ql-editor {
  font-size: 16px;
  font-weight: "bold";
}

.titolo-quill .ql-editor {
  font-size: 14px;
  font-weight: "bold";
}

.autoreEdit-quill .ql-editor {
  font-size: 1.5em;
}

.titoloEdit-quill .ql-editor {
  font-size: 1.17em;
}

/* Stili per le schede */
.custom-card {
  /* Rendi lo sfondo trasparente */
  /*background-color: transparent; */
  background-color: white; /* Rendi lo sfondo trasparente */
  color: black; /* Rendi lo sfondo trasparente */
  /*border: 1px solid rgba(255, 255, 255, 0.7); /* Bordo semi-trasparente */
  border: 1px solid #859398; /* Bordo inferiore grigio */
  /* Colore del testo */
  /*color: white; */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiungi transizione */
  min-height: 250px; /* Altezza minima uniforme per tutte le card */
}

.custom-card:hover {
  transform: scale(1.05); /* Ingrandisce la card del 5% */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra al passaggio del mouse */
}

.custom-card-search {
  background-color: transparent; /* Rendi lo sfondo trasparente */
  border: 1px solid #859398; /* Bordo semi-trasparente */
  color: white; /* Colore del testo */
}

.custom-card .ant-card-body {
  padding: 16px; /* Imposta un padding interno per il contenuto della card */
}

/* Card styling for uniform height and truncation */
.fixed-card-height {
  height: 250px; /* Imposta un’altezza fissa */
  overflow: hidden; /* Nasconde l’overflow del testo */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white; /* Rendi lo sfondo trasparente */
  color: black; /* Rendi lo sfondo trasparente */
}

.fixed-card-height .ant-card-body {
  padding: 16px;
}

/* Stile per la sezione autore */
.autore-quill .ql-editor {
  font-size: 16px;
  max-height: 60px; /* Altezza massima per limitare lo spazio */
  overflow: hidden;
  text-overflow: ellipsis; /* Mostra '...' quando il testo è troppo lungo */
  display: -webkit-box; /* Necessario per il supporto dei puntini di sospensione */
  -webkit-box-orient: vertical; /* Orienta il box verticalmente */
  -webkit-line-clamp: 3; /* Numero di righe visibili */
}

/* Stile per la sezione titolo */
.titolo-quill .ql-editor {
  font-size: 14px;
  max-height: 50px; /* Altezza massima per limitare lo spazio */
  overflow: hidden;
  text-overflow: ellipsis; /* Mostra '...' quando il testo è troppo lungo */
  display: -webkit-box; /* Necessario per il supporto dei puntini di sospensione */
  -webkit-box-orient: vertical; /* Orienta il box verticalmente */
  -webkit-line-clamp: 2; /* Numero di righe visibili */
}
