.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #45a049;
}

.recovery-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.recovery-button:hover {
    background-color: #0056b3;
}

.schede-list {
    margin-top: 20px;
}

.schede-list li {
    margin-bottom: 10px;
}

.quill-text-area {
    border: none !important;
}

.error-message {
    color: red;
    font-size: 12px;
}

/* styles.css */
.ql-no-newline .ql-formats {
    display: none;
    color:black;
}

.autoreEdit-quill .ql-editor {
    font-size: 1.5em;
    color: black;
  }
  
  .titoloEdit-quill .ql-editor {
    font-size: 1.8em; 
    color: black;
  }
  